body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.fab-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
}

.fab-form {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.fab-button {
    background-color: transparent;
    color: #000000;
    border: 2px solid #030303;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.fab-button:hover {
    background-color: #080808;
    color: #fff;
}

.fab-icon {
    margin-right: 2px;
}

.post {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px auto;
    max-width: 800px;
}

.post p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.post img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

/* CSS for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto; /* changed margin for better positioning */
    padding: 30px; /* increased padding for better spacing */
    border-radius: 15px; /* increased border-radius for smoother corners */
    max-width: 800px; /* increased max-width for larger modals */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* increased box-shadow for better depth */
}

.close {
    color: #555555; /* changed close button color */
    float: right;
    font-size: 30px; /* increased close button font size */
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000000; /* changed close button hover color */
    text-decoration: none;
}

/* CSS for input and send button */
.email-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.email-form .send-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.email-form .send-button:hover {
    background-color: #45a049;
}
