body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

.post {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px auto;
    max-width: 800px;
}

.post p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.post img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.fab-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.fab-button {
    background-color: transparent;
    color: #000000;
    border: 2px solid #030303;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;}

.fab-button:hover {
    background-color: #080808;
    color: #fff;
}

.fab-icon {
    margin-right: 2px;
}