<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Post</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="fab-container">
        <form action="/generate_random_post" method="post" class="fab-form">
            <button type="submit" class="fab-button">
                <span class="fab-icon">+</span>
            </button>
        </form>
        <form action="/send-python-request" method="post" class="fab-form">
            <button type="submit" class="fab-button">
                <span>REQ</span>
            </button>
        </form>
    </div>
    <div class="post">
        <p>{{.Text}}</p>
        <img src="static/uploads/{{.ImageURL}}" alt="Random Image">
    </div>
</body>
</html>
