<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Post</title>
    <link rel="stylesheet" href="static/styles.css">
    <script>
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }
    </script>
</head>
<body>
    <div class="fab-container">
        <form action="/generate_random_post" method="post" class="fab-form">
            <button type="submit" class="fab-button">
                <span class="fab-icon">+</span>
            </button>
        </form>
        <form action="/send-python-request" method="post" class="fab-form">
            <button type="submit" class="fab-button">
                <span>IMG</span>
            </button>
        </form>
        <form action="/send-nodejs-request" method="post" class="fab-form">
            <button type="submit" class="fab-button">
                <span>TXT</span>
            </button>
        </form>
        <form action="/send-email" method="post" class="fab-form">
            <button type="button" class="fab-button" onclick="openModal()">
                <span>SMTP</span>
            </button>
        </form>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <form action="/send-email" method="post" class="email-form">
                    <input type="email" name="email" placeholder="Enter your email" class="email-input">
                    <button type="submit" class="send-button">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="post">
        <p>{{.Text}}</p>
        <img src="static/uploads/{{.ImageURL}}" alt="Random Image">
    </div>
</body>
</html>

